# Common table expressions

Using the northwind database

In [1]:
import pymysql # pip install pymysql
import sqlalchemy as alch # bash: conda activate ironhack; python -m pip install --upgrade 'sqlalchemy<2.0'
                                                        # pip install SQLAlchemy
from getpass import getpass
import pandas as pd
import os

In [2]:
from getpass import getpass

In [3]:
password = getpass()

········

In [4]:
dbName = "northwind"

In [5]:
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [6]:
engine = alch.create_engine(connectionData)

## 1. Write a CTE that lists the names and quantities of products with a unit price greater than $50.

In [23]:
query = '''
    SELECT ProductName, Unit
    FROM Products
    WHERE price > 50

'''
pd.read_sql_query(query, engine)

               ProductName                  Unit
0          Mishi Kobe Niku      18 - 500 g pkgs.
1         Carnarvon Tigers            16 kg pkg.
2   Sir Rodney's Marmalade         30 gift boxes
3  Thüringer Rostbratwurst  50 bags x 30 sausgs.
4            Côte de Blaye    12 - 75 cl bottles
5    Manjimup Dried Apples      50 - 300 g pkgs.
6     Raclette Courdavault             5 kg pkg.

#### Expected results

|ProductName                     |Unit|
|--------------------------------|----|
|Mishi Kobe Niku                 |18 - 500 g pkgs.|
|Carnarvon Tigers                |16 kg pkg.|
|Sir Rodney's Marmalade          |30 gift boxes|
|Thüringer Rostbratwurst         |50 bags x 30 sausgs.|
|Côte de Blaye                   |12 - 75 cl bottles|
|Manjimup Dried Apples           |50 - 300 g pkgs.|
|Raclette Courdavault            |5 kg pkg.|

## 2. What are the top 5 most profitable products?

In [29]:
query = """
    SELECT p.ProductName, SUM(od.Quantity * p.Price) AS TotalRevenue
    FROM OrderDetails od
    JOIN Products p ON od.ProductID = p.ProductID
    GROUP BY p.ProductName, p.Price
    ORDER BY TotalRevenue DESC
    LIMIT 6;
"""

pd.read_sql_query(query, engine)

               ProductName  TotalRevenue
0            Côte de Blaye       63096.0
1  Thüringer Rostbratwurst       20832.0
2     Raclette Courdavault       19030.0
3           Tarte au sucre       15925.0
4        Camembert Pierrot       14620.0
5             Alice Mutton       12909.0

#### Expected results
Alice Mutton is 6th

|ProductID                       |ProductName|TotalRevenue|
|--------------------------------|-----------|------------|
|-                             |-|-       |
|-                           |-|-       |
|-                            |-|-       |
|-                             |-|-       |
|-                              |-|-       |
|17                              |Alice Mutton|12909       |

## 3. Write a CTE that lists the top 5 categories by the number of products they have.

In [35]:
query = """
    SELECT c.CategoryName, COUNT(p.ProductID) AS ProductCount
    FROM Categories c
    JOIN Products p ON c.CategoryID = p.CategoryID
    GROUP BY c.CategoryName
    ORDER BY ProductCount DESC
    LIMIT 5;
"""

pd.read_sql_query(query, engine)

     CategoryName  ProductCount
0     Confections            13
1       Beverages            12
2      Condiments            12
3         Seafood            12
4  Dairy Products            10

#### Expected result
|CategoryName                    |ProductCount|
|--------------------------------|------------|
|Confections                     |13          |
|Beverages                       |12          |
|Condiments                      |12          |
|Seafood                         |12          |
|Dairy Products                  |10          |

## 4. Write a CTE that shows the average order quantity for each product category.

In [52]:
query = """
    SELECT c.CategoryName, AVG(od.Quantity) AS AvgOrderQuantity
    FROM Categories c
    JOIN Products p ON c.CategoryID = p.CategoryID
    JOIN OrderDetails od ON p.ProductID = od.ProductID
    GROUP BY c.CategoryName
    ORDER BY CategoryName 

"""

pd.read_sql_query(query, engine)

     CategoryName  AvgOrderQuantity
0       Beverages           24.6129
1      Condiments           28.2245
2     Confections           25.1190
3  Dairy Products           26.0100
4  Grains/Cereals           21.7143
5    Meat/Poultry           25.7600
6         Produce           21.6667
7         Seafood           21.5672

|CategoryName                    |AvgOrderQuantity|
|--------------------------------|----------------|
|Beverages                       |24.6129         |
|Condiments                      |28.2245         |
|Confections                     |25.1190         |
|Dairy Products                  |26.0100         |
|Grains/Cereals                  |21.7143         |
|Meat/Poultry                    |25.7600         |
|Produce                         |21.6667         |
|Seafood                         |21.5672         |

# 5. Create a CTE to calculate the average order amount for each customer.

In [58]:
query = """
    SELECT cu.CustomerID, cu.CustomerName, AVG(p.Price * od.Quantity) AS AvgOrderAmount
    FROM Customers cu
    JOIN Orders o ON cu.CustomerID = o.CustomerID
    JOIN OrderDetails od ON o.OrderID = od.OrderID
    JOIN Products p ON od.ProductID = p.ProductID
   
    GROUP BY cu.CustomerID, cu.CustomerName
    ORDER BY AvgOrderAmount DESC; 
"""
#always remember that the order of JOINS is basic! like here, initiate by customers.
pd.read_sql_query(query, engine)

    CustomerID                        CustomerName  AvgOrderAmount
0           59                    Piccolo und mehr       4014.2500
1           73                       Simons bistro       2444.3333
2           62                       Queen Cozinha       1991.6667
3           51                      Mère Paillarde       1673.8571
4           71                  Save-a-lot Markets       1407.2500
..         ...                                 ...             ...
69          29              Galería del gastrónomo        147.7500
70          69                    Romero y tomillo        116.5000
71          13          Centro comercial Moctezuma         63.0000
72          27                      Franchi S.p.A.         62.0000
73           2  Ana Trujillo Emparedados y helados         55.5000

[74 rows x 3 columns]

|CustomerID                      |CustomerName|AvgOrderAmount|
|--------------------------------|------------|--------------|
|59                              |Piccolo und mehr|4014.2500     |
|73                              |Simons bistro|2444.3333     |
|62                              |Queen Cozinha|1991.6667     |
|51                              |Mère Paillarde|1673.8571     |
|71                              |Save-a-lot Markets|1407.2500     |
|76                              |Suprêmes délices|1345.8333     |
|81                              |Tradição Hipermercados|1315.6667     |
|7                               |Blondel père et fils|1174.4615     |
|89                              |White Clover Markets|1112.5000     |
|55                              |Old World Delicatessen|1079.5000     |
|20                              |Ernst Handel|1018.0000     |
|19                              |Eastern Connection|1004.8000     |
|68                              |Richter Supermarkt|976.6667      |
|72                              |Seven Seas Imports|934.0000      |
|63                              |QUICK-Stop  |908.5500      |
|25                              |Frankenversand|895.0667      |
|75                              |Split Rail Beer & Ale|854.7692      |
|65                              |Rattlesnake Canyon Grocery|838.2727      |
|52                              |Morgenstern Gesundkost|754.0000      |
|9                               |Bon app''   |750.4286      |
|37                              |Hungry Owl All-Night Grocers|733.5714      |
|35                              |HILARIÓN-Abastos|722.8333      |
|33                              |GROSELLA-Restaurante|690.0000      |
|34                              |Hanari Carnes|681.0000      |
|15                              |Comércio Mineiro|677.5000      |
|23                              |Folies gourmandes|672.3333      |
|10                              |Bottom-Dollar Marketse|664.0000      |
|31                              |Gourmet Lanchonetes|641.0000      |
|60                              |Princesa Isabel Vinhoss|628.5000      |
|5                               |Berglunds snabbköp|601.5556      |
|46                              |LILA-Supermercado|564.7692      |
|44                              |Lehmanns Marktstand|545.7500      |
|30                              |Godos Cocina Típica|515.0000      |
|3                               |Antonio Moreno Taquería|504.0000      |
|88                              |Wellington Importadora|503.8333      |
|47                              |LINO-Delicateses|500.0000      |
|56                              |Ottilies Käseladen|500.0000      |
|87                              |Wartian Herkku|492.5833      |
|24                              |Folk och fä HB|480.2222      |
|49                              |Magazzini Alimentari Riuniti|464.2857      |
|86                              |Die Wandernde Kuh|441.9091      |
|41                              |La maison d''Asie|437.8182      |
|8                               |Bólido Comidas preparadas|416.0000      |
|83                              |Vaffeljernet|411.0000      |
|14                              |Chop-suey Chinese|374.8333      |
|80                              |Tortuga Restaurante|357.4167      |

# 6. Sales Analysis with CTEs

Assume we have the Northwind database which contains tables like Orders, OrderDetails, and Products. Create a CTE that calculates the total sales for each product in the year 1997.

In [67]:
query = """
    SELECT p.ProductID, p.ProductName, sum(p.Price * od.Quantity) AS TotalSales
    FROM Products p
    JOIN OrderDetails od ON p.ProductID = od.ProductID
    JOIN Orders o ON od.OrderID = o.OrderID
    
    WHERE YEAR(o.OrderDate) = 1997
    
    GROUP BY p.ProductID, p.ProductName
    ORDER BY TotalSales DESC; 
"""

pd.read_sql_query(query, engine)

    ProductID                       ProductName  TotalSales
0          38                     Côte de Blaye     26136.0
1          56            Gnocchi di nonna Alice      6574.0
2          59              Raclette Courdavault      6325.0
3          29           Thüringer Rostbratwurst      5580.0
4          63                      Vegie-spread      4400.0
5          17                      Alice Mutton      3783.0
6          62                    Tarte au sucre      3675.0
7          61                    Sirop d'érable      3074.0
8          28                 Rössle Sauerkraut      2484.0
9          26               Gumbär Gummibärchen      2232.0
10         27                Schoggi Schokolade      2200.0
11          2                             Chang      2185.0
12         60                 Camembert Pierrot      2040.0
13          9                   Mishi Kobe Niku      1940.0
14         35                    Steeleye Stout      1710.0
15         71                       Fløtemysost      1650.0
16         14                              Tofu      1541.0
17         11                    Queso Cabrales      1512.0
18         16                           Pavlova      1462.0
19         64         Wimmers gute Semmelknödel      1419.0
20         53                     Perth Pasties      1320.0
21         69                  Gudbrandsdalsost      1260.0
22         49                          Maxilaku      1200.0
23         66         Louisiana Hot Spiced Okra      1020.0
24         40                  Boston Crab Meat       936.0
25         76                      Lakkalikööri       936.0
26         21               Sir Rodney's Scones       920.0
27         48                         Chocolade       910.0
28         54                         Tourtière       882.0
29         68               Scottish Longbreads       858.0
30         47                     Zaanse koeken       850.0
31         44                      Gula Malacca       760.0
32         57                    Ravioli Angelo       700.0
33         50                  Valkoinen suklaa       640.0
34          1                             Chais       612.0
35         77   Original Frankfurter grüne Soße       585.0
36         12         Queso Manchego La Pastora       570.0
37         42     Singaporean Hokkien Fried Mee       560.0
38         23                          Tunnbröd       540.0
39         19        Teatime Chocolate Biscuits       513.0
40          3                     Aniseed Syrup       500.0
41         30             Nord-Ost Matjeshering       468.0
42         74                     Longlife Tofu       450.0
43         65  Louisiana Fiery Hot Pepper Sauce       420.0
44         33                           Geitost       357.0
45         72            Mozzarella di Giovanni       350.0
46         46                         Spegesild       324.0
47         73                        Röd Kaviar       300.0
48         34                     Sasquatch Ale       280.0
49         37                        Gravad lax       260.0
50         22               Gustaf's Knäckebröd       252.0
51         41   Jack's New England Clam Chowder       250.0
52         55                      Pâté chinois       240.0
53         75              Rhönbräu Klosterbier       192.0
54         31                 Gorgonzola Telino       182.0
55         70                     Outback Lager       120.0
56         36                       Inlagd Sill        95.0
57         13                             Konbu        12.0

#### Expected result

|ProductName                     |TotalSales|
|--------------------------------|----------|
|Gnocchi di nonna Alice          |173       |
|Tourtière                       |126       |
|Geitost                         |119       |
|Chang                           |115       |
|Raclette Courdavault            |115       |
|Sirop d'érable                  |106       |
|Vegie-spread                    |100       |
|Côte de Blaye                   |99        |
|Alice Mutton                    |97        |
|Steeleye Stout                  |95        |
|Sir Rodney's Scones             |92        |
|Pavlova                         |86        |
|Zaanse koeken                   |85        |
|Fløtemysost                     |75        |
|Tarte au sucre                  |75        |